@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: #FFFBE9;
  --color-foreground: #AD8B73;
  --color-card: #FFFBE9;
  --color-card-foreground: #AD8B73;
  --color-popover: #FFFBE9;
  --color-popover-foreground: #AD8B73;
  --color-primary: #AD8B73;
  --color-primary-foreground: #FFFBE9;
  --color-secondary: #CEAB93;
  --color-secondary-foreground: #AD8B73;
  --color-muted: #E3CAA5;
  --color-muted-foreground: #AD8B73;
  --color-accent: #CEAB93;
  --color-accent-foreground: #AD8B73;
  --color-destructive: #DC2626;
  --color-border: #E3CAA5;
  --color-input: #E3CAA5;
  --color-ring: #AD8B73;
  --color-chart-1: #AD8B73;
  --color-chart-2: #CEAB93;
  --color-chart-3: #E3CAA5;
  --color-chart-4: #C49A7D;
  --color-chart-5: #B89683;
  --color-sidebar: #FFFBE9;
  --color-sidebar-foreground: #AD8B73;
  --color-sidebar-primary: #AD8B73;
  --color-sidebar-primary-foreground: #FFFBE9;
  --color-sidebar-accent: #CEAB93;
  --color-sidebar-accent-foreground: #AD8B73;
  --color-sidebar-border: #E3CAA5;
  --color-sidebar-ring: #AD8B73;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --radius: 0.625rem;
  --radius-sm: calc(0.625rem - 4px);
  --radius-md: calc(0.625rem - 2px);
  --radius-lg: 0.625rem;
  --radius-xl: calc(0.625rem + 4px);
  --radius-2xl: calc(0.625rem + 8px);
  --radius-3xl: calc(0.625rem + 12px);
  --radius-4xl: calc(0.625rem + 16px);
}

@supports (color: oklch(0 0 0)) {
  :root {
    color-scheme: light;
  }
  .dark {
    color-scheme: dark;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
